@base-font-family: 'PT Sans', consolas;

@background-color: #31353C;
@background-text-color: #FFFFFF;

@breadcrumb-color: #EAEAEA;
@breadcrumb-text-color: #777777;
@breadcrumb-border: 1px solid #D6D6D6;
@breadcrumb-active-text-color: #555555;

@content-color: #F2F2F2;
@content-light-color: #FFFFFF;
@content-border: 1px solid #CDCDCD;

@active-color: #1AAEF3;
@active-darker-color: #0993d3;

@details-action-color: #5CB85C;
@details-action-border-color: #4CAE4C;

@details-action-active-color: #47A447;
@details-action-active-border-color: #398439;

@edit-action-color: #F0AD4E;
@edit-action-border-color: #EEA236;

@edit-action-active-color: #ED9C28;
@edit-action-active-border-color: #D58512;

@delete-action-color: #D9534F;
@delete-action-border-color: #D43F3A;

@delete-action-active-color: #D2322D;
@delete-action-active-border-color: #AC2925;

@validation-color: #A94442;