@base-font-family: 'PT Sans', consolas;

@background-color: #31353C;
@background-text-color: #CCCCCC;
@background-upper-color: #0056BA;
@background-shadow-color: #131518;

@breadcrumb-color: #EAEAEA;
@breadcrumb-text-color: #777777;
@breadcrumb-border: 1px solid #D6D6D6;
@breadcrumb-active-text-color: #555555;

@content-color: #F2F2F2;
@content-light-color: #FFFFFF;
@content-border: 1px solid #CDCDCD;

@table-row-odd-color: #F8F8F8;
@table-row-even-color: #FCFCFC;

@datepicker-border: 1px solid #BAC2C8;

@active-color: #1AAEF3;
@active-text-color: #FFFFFF;
@active-darker-color: #0993d3;

@details-action-color: #5CB85C;
@details-action-border-color: #4CAE4C;

@details-action-active-color: #47A447;
@details-action-active-border-color: #398439;

@edit-action-color: #F0AD4E;
@edit-action-border-color: #EEA236;

@edit-action-active-color: #ED9C28;
@edit-action-active-border-color: #D58512;

@delete-action-color: #D9534F;
@delete-action-border-color: #D43F3A;

@delete-action-active-color: #D2322D;
@delete-action-active-border-color: #AC2925;

@validation-color: #A94442;

/* Temp colors */
@text-shadow: 0 0 #FFFFFF;
@datepicker-th-background-color: #E6EBF0;
@datepicker-th-text-color: #6C7173;
@grid-mvc-table-border: 1px solid #DDDDDD;
@datepicker-active-text-shadow: 0 -1px 0 #30332A;
@datepicker-header-text-color: #EEEEEE;
@sidebar-border-darker-color: #2A2D34;
@sidebar-border-lighter-color: #383C45;
@sidebar-2-background-color: #3C414A;
@sidebar-3-background-color: #474D58;
@sidebar-3-border-color: #393D44;
@table-thead-upper-color: #FDFDFD;
@table-thead-lower-color: #EAEAEA;
@widget-background-color: #FAFAFA;
@widget-text-color: #666666;
@form-group-top-border-color: #FFFFFF;
@form-group-bottom-border-color: #EEEEEE;
@control-label-color: #555555;
@required-span-color: #FF0000;
@validation-error-color: #B94A48;