@base-font-family: 'PT Sans', consolas;

@background-color: #31353C;
@background-text-color: #CCCCCC;

@header-top-background-color: #0056BA;

@sidebar-border-top: 1px solid #383C45;
@sidebar-border-bottom: 1px solid #2A2D34;
@sidebar-2nd-submenu-background-color: #3C414A;
@sidebar-3rd-submenu-background-color: #474D58;

@content-header-top-background-color: #FFFFFF;

@breadcrumb-color: #EAEAEA;
@breadcrumb-active-text-color: #555555;

@content-text-color: #555555;
@content-background-color: #F2F2F2;
@content-border: 1px solid #CDCDCD;

@widget-background-color: #FAFAFA;

@form-group-border-top: 1px solid #FFFFFF;
@form-group-border-bottom: 1px solid #EEEEEE;

@table-row-odd-color: #F8F8F8;
@table-row-even-color: #FCFCFC;
@table-border: 1px solid #DDDDDD;
@table-header-text-color: #6C7173;

@active-color: #1AAEF3;
@active-text-color: #FFFFFF;
@active-darker-color: #0993d3;
@active-text-shadow: 1px 0 0 #30332A;

@details-action-color: #5CB85C;
@details-action-active-color: #47A447;

@edit-action-color: #F0AD4E;
@edit-action-active-color: #ED9C28;

@delete-action-color: #D9534F;
@delete-action-active-color: #D2322D;

@validation-color: #D11919;

/* Temp colors */
@text-shadow: 0 0 #FFFFFF;
@table-thead-upper-color: #FDFDFD;
@table-thead-lower-color: #EAEAEA;