@font-face {
  src: url("../Fonts/PTSans.woff") format("woff");
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../Fonts/PTSans-Bold.woff") format("woff");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
}
* {
  text-decoration: none !important;
  outline: none !important;
}
body {
  font-family: "PT Sans", consolas;
  color: #555555;
}
body.private {
  background-image: url("../../Images/Shared/background.jpg");
  background-color: #31353c;
}
body.public {
  background-image: url("../../Images/Shared/content-background.jpg");
  background-color: #f2f2f2;
}
.separator {
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #DDDDDD;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.footer {
  text-align: center;
  padding-top: 20px;
  color: #cccccc;
}
