.header {
  min-height: 80px;
}
.header-navigation {
  float: right;
  padding: 0;
}
.header-navigation > .btn {
  border: none;
  padding: 0;
}
.header-navigation > .btn.open > a,
.header-navigation > .btn:hover > a {
  background-color: #396b86;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  color: #ffffff;
}
.header-navigation > .btn:last-child > a {
  padding-right: 15px;
}
.header-navigation > .btn > a {
  text-shadow: 0 0 #cccccc;
  display: block;
  padding: 10px;
  color: #cccccc;
}
.header-navigation > .btn > a .fa {
  margin-right: 5px;
}
.header-navigation > .btn > a .caret {
  margin-left: 5px;
}
.header-navigation > .btn .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
}
.header-navigation > .btn .dropdown-menu img {
  margin-bottom: 3px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .header-navigation > .btn > a .fa {
    margin: 0;
  }
  .header-navigation .dropdown-menu {
    left: -127px;
  }
  .header-navigation .text,
  .header-navigation .caret {
    display: none;
  }
}
