table thead {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0, rgba(255, 255, 255, 0.27) 100%);
}
table tbody tr .grid-cell {
  vertical-align: middle;
}
table th {
  text-align: center;
}
table th.action-cell {
  width: 20px;
}
table th,
table td {
  border-left: 1px solid #cdcdcd;
}
table td {
  border-bottom: 1px solid #dddddd;
}
table td.text-cell {
  text-align: left;
}
table td.date-cell {
  text-align: center;
}
table td.number-cell {
  text-align: right;
}
table .action-cell {
  text-align: center;
  border-left: none;
}
table .action-cell + .action-cell {
  padding-left: 0;
}
table .action-cell .details-action {
  background-color: #5cb85c;
}
table .action-cell .edit-action {
  background-color: #f0ad4e;
}
table .action-cell .delete-action {
  background-color: #d9534f;
}
table .action-cell .copy-action {
  background-color: #4da6fe;
}
table .action-cell a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: inline-block;
  color: #ffffff;
  border-radius: 4px;
  line-height: 1.7;
  font-size: 11px;
  height: 20px;
  width: 20px;
}
table .action-cell a:hover {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.table-striped > tbody > tr:nth-child(even) > td {
  background-color: #ffffff;
}
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td {
  background-color: #396b86;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  color: #ffffff;
}
