Web/Components/bin/
Web/Components/obj/
Web/Controllers/bin/
Web/Controllers/obj/
Web/Data/bin/
Web/Data/obj/
Web/Objects/bin/
Web/Objects/obj/
Web/Resources/bin/
Web/Resources/obj/
Web/bin/
Web/obj/
packages/
*.user
*.suo