/* bootstrap */
.input-group .form-control {
    z-index: 1;
}

/* jQueryUI datepicker */
.ui-datepicker th {
    min-width: 35px;
}

/* JsTree */
.tree-view {
    margin-top: 5px;
    display: none;
}

.jstree-themeicon {
    display: none !important;
}