<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="AutoMapper" version="4.1.1" targetFramework="net45" />
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net45" />
  <package id="Datalist.Core" version="3.5.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="LightInject" version="4.0.0" targetFramework="net45" />
  <package id="LightInject.Mvc" version="1.0.0.4" targetFramework="net45" />
  <package id="LightInject.Web" version="1.0.0.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NonFactors.Grid.Core.Mvc5" version="2.2.2" targetFramework="net45" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.4" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net45" />
</packages>