@model IQueryable<RoleView>

<div class="widget-box">
    <div class="widget-title">
        <span class="widget-title-icon fa fa-th"></span>
        <h5>@Headers.AdministrationRolesIndex</h5>
        <div class="widget-title-buttons">
            @Html.WidgetButton("Create", "fa fa-file-o")
        </div>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.AddActionLink("Details", "fa fa-info");
                columns.AddActionLink("Edit", "fa fa-pencil");
                columns.AddActionLink("Delete", "fa fa-times");

                columns.AddProperty(model => model.Name);
                columns.AddBooleanProperty(model => model.MyProperty);
                columns.AddBooleanProperty(model => !model.MyProperty);
            })
            .ApplyDefaults()
        )
    </div>
</div>
