@model IQueryable<RoleView>

<div class="col">
    <div class="widget-box">
        <div class="widget-header">
            <span class="icon fa fa-th"></span>
            <h5>@Headers.Roles</h5>
            <div class="widget-header-buttons">
                @if (Html.IsAuthorizedFor("Create"))
                {
                    <a class="btn" href="@Url.Action("Create")">
                        <span class="far fa-file"></span><span class="text">@Actions.Create</span>
                    </a>
                }
            </div>
        </div>
        <div class="widget-content">
            @(Html
                .Grid(Model)
                .Build(columns =>
                {
                    columns.AddActionLink("Details", "fa fa-info");
                    columns.AddActionLink("Edit", "fa fa-pencil-alt");
                    columns.AddActionLink("Delete", "fa fa-times");

                    columns.AddProperty(model => model.Title);
                })
                .ApplyDefaults()
            )
        </div>
    </div>
</div>
