#Header {
  background-color: #31353c;
  background-image: -webkit-linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  background-image: -moz-linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  background-image: -ms-linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  background-image: -o-linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  background-image: linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  box-shadow: 0 0 1px 0 inset;
  min-height: 80px;
}
#HeadersLeftPanel {
  float: left;
}
#HeadersRightPanel {
  float: right;
}
#TopNavigation {
  margin-right: 20px;
  float: right;
}
#TopNavigationSections {
  padding: 0;
  margin: 0;
}
#TopNavigationSections > .btn {
  border: none;
  padding: 0;
  margin: 0;
}
#TopNavigationSections > .btn > a {
  color: #cccccc;
  text-shadow: 0 0 #ffffff;
  display: block;
  padding: 10px;
}
#TopNavigationSections > .btn.open > a,
#TopNavigationSections > .btn > a:hover {
  background: #1aaef3;
  color: #ffffff;
}
#TopNavigationSections > .btn .fa {
  margin-right: 5px;
}
#TopNavigationSections > .btn .dropdown-menu {
  border-top-right-radius: 0;
  text-shadow: 0 0 #ffffff;
  border-top-left-radius: 0;
  text-align: left;
  margin-top: 0;
}
