/* Bootstrap */
.input-group .form-control {
  z-index: 1;
}
/* JQueryUI Datepicker */
.ui-datepicker {
  border-radius: 5px;
  font-size: 90%;
  padding: 0;
}
.ui-datepicker .ui-datepicker-header {
  background-color: #1aaef3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  border-radius: 4px 4px 0 0;
  color: #ffffff;
  border: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
  background-image: url(../../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
  background-position: -96px -16px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  background-image: url(../../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
  background-position: -32px -16px;
}
.ui-datepicker .ui-datepicker-header .ui-state-hover {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 100%, rgba(255, 255, 255, 0.27) 0%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 100%, rgba(255, 255, 255, 0.27) 0%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 100%, rgba(255, 255, 255, 0.27) 0%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 100%, rgba(255, 255, 255, 0.27) 0%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 100%, rgba(255, 255, 255, 0.27) 0%);
  background-color: #1aaef3;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.ui-datepicker table {
  margin: 0 0 2px;
}
.ui-datepicker td {
  padding: 1px 2px;
}
.ui-datepicker .ui-datepicker-calendar th {
  background-color: #e6ebf0;
  background-image: -webkit-linear-gradient(center bottom, rgba(201, 198, 198, 0.33) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(center bottom, rgba(201, 198, 198, 0.33) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(center bottom, rgba(201, 198, 198, 0.33) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(center bottom, rgba(201, 198, 198, 0.33) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(center bottom, rgba(201, 198, 198, 0.33) 0%, rgba(255, 255, 255, 0.27) 100%);
  text-shadow: 1px 0 rgba(255, 255, 255, 0.5);
  color: #6c7173;
  font-weight: normal;
  font-size: 9px;
  border: none;
}
.ui-datepicker .ui-datepicker-calendar td {
  border: none;
}
.ui-datepicker .ui-datepicker-calendar td span,
.ui-datepicker .ui-datepicker-calendar td a {
  text-align: center;
}
.ui-datepicker .ui-datepicker-calendar td .ui-state-default {
  border-radius: 5px;
  background: none;
  border: none;
}
.ui-datepicker .ui-datepicker-calendar td .ui-state-highlight {
  background: #dcf3fd;
}
.ui-datepicker .ui-datepicker-calendar td .ui-state-active,
.ui-datepicker .ui-datepicker-calendar td .ui-state-hover {
  background-color: #1aaef3;
  background-image: -webkit-linear-gradient(center bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(center bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(center bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(center bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  text-shadow: 1px 0 0 #30332a;
  color: #ffffff;
}
/* Select2 */
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 4px;
}
.select2-container .select2-choice .select2-arrow b {
  background-position: 0 4px;
}
/* GridMvc */
.grid-table > thead > tr > th,
.grid-table > tbody > tr > td {
  border-left: 1px solid #dddddd;
}
.grid-empty-text {
  text-align: center;
}
/* JsTree */
.tree-view {
  margin-top: 5px;
  display: none;
}
.jstree-themeicon {
  display: none !important;
}
