/* Temp colors */
#Sidebar {
  width: 200px;
  float: left;
}
#SidebarSearch {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 10px;
}
#SearchInput {
  background-color: rgba(0, 0, 0, 0.33);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  text-align: center;
  padding: 3px 0px;
  font-size: 12px;
  border: none;
  width: 100%;
}
#SidebarNavigation {
  cursor: pointer;
}
#SidebarNavigationList {
  border-bottom: 1px solid #383c45;
  border-top: 1px solid #2a2d34;
  padding: 0;
  margin: 0;
}
#SidebarNavigationList > li {
  border-bottom: 1px solid #2a2d34;
  border-top: 1px solid #383c45;
  position: relative;
}
#SidebarNavigationList > li > a {
  color: #cccccc;
  padding: 10px 0 10px 15px;
  display: block;
}
#SidebarNavigationList .active,
#SidebarNavigationList a:hover {
  background: #1aaef3;
  color: #ffffff;
  font-weight: bold;
}
#SidebarNavigationList .active a {
  background: url("../../../Images/Shared/menu-active.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  color: #ffffff;
}
#SidebarNavigationList > li.active-hovering,
#SidebarNavigationList > li.has-active-child.active-hovering,
#SidebarNavigationList > li.active-hovering a,
#SidebarNavigationList > li.has-active-child.active-hovering a {
  color: #cccccc;
  background-color: inherit;
  font-weight: inherit;
}
#SidebarNavigationList .menu-icon {
  width: 20px;
}
#SidebarNavigationList span {
  margin-left: 5px;
}
#SidebarNavigationList .arrow {
  -webkit-transition: transform 0.4s ease-out 0.1s;
  -moz-transition: transform 0.4s ease-out 0.1s;
  -o-transition: transform 0.4s ease-out 0.1s;
  transition: transform 0.4s ease-out 0.1s;
  margin: 5px 20px 5px 5px;
  font-size: 10px;
  float: right;
}
#SidebarNavigationList .opening > a > .arrow,
#SidebarNavigationList .open > a > .arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#SidebarNavigationList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#SidebarNavigationList li:not(.open):not(.closing) > ul {
  display: none;
}
#SidebarNavigationList > li > ul > li {
  border-top: 1px solid #383c45;
  background: #3c414a;
}
#SidebarNavigationList > li > ul > li > a {
  color: #cccccc;
  padding: 10px 0 10px 25px;
  display: block;
}
#SidebarNavigationList > li > ul > li.active-hovering,
#SidebarNavigationList > li > ul > li.active-hovering a {
  color: #cccccc;
  background-color: #3c414a;
  font-weight: normal;
}
#SidebarNavigationList > li > ul > li > ul > li {
  border-top: 1px solid #393d44;
  background: #474d58;
}
#SidebarNavigationList > li > ul > li > ul > li > a {
  color: #cccccc;
  padding: 10px 0 10px 35px;
  display: block;
}
#SidebarNavigationList > li > ul > li > ul > li.active-hovering,
#SidebarNavigationList > li > ul > li > ul > li.active-hovering a {
  background: #474d58;
  color: #cccccc;
  font-weight: normal;
}
@media (max-width: 767px) {
  #Sidebar {
    width: 45px;
  }
  #SidebarSearch {
    display: none;
  }
  #SidebarNavigationList > li .active {
    background: #3c414a;
    font-weight: normal;
  }
  #SidebarNavigationList > li .active a {
    color: #cccccc;
    background-image: none;
  }
  #SidebarNavigationList > li.has-active-child {
    background: #1aaef3;
    color: #ffffff;
  }
  #SidebarNavigationList > li.has-active-child > a {
    background: url("../../../Images/Shared/menu-active.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #ffffff;
  }
  #SidebarNavigationList > li.active-child-hovering,
  #SidebarNavigationList > li.active-child-hovering > a {
    color: #cccccc;
    background-color: inherit;
    font-weight: inherit;
  }
  #SidebarNavigationList > li.open a,
  #SidebarNavigationList > li.opening a {
    background-image: none;
  }
  #SidebarNavigationList > li.active-child-hovering > ul > li a:hover {
    background: #1aaef3;
    color: #ffffff;
    font-weight: bold;
  }
  #SidebarNavigationList > li > ul > li > a,
  #SidebarNavigationList > li > ul > li > ul > li > a {
    padding: 6px 0 6px 8px;
    font-size: 10px;
  }
  #SidebarNavigationList > li > a {
    text-align: center;
    padding-left: 0;
  }
  #SidebarNavigationList > li > a > span {
    display: none;
  }
  #SidebarNavigationList > li > ul {
    position: absolute;
    width: 100px;
    z-index: 2;
    left: 45px;
    top: 0;
  }
  #SidebarNavigationList > li > ul .menu-icon {
    width: 10px;
  }
  #SidebarNavigationList > li > ul > li:first-child,
  #SidebarNavigationList > li > ul > li > ul > li:first-child {
    border-top: none;
  }
  #SidebarNavigationList > li > ul > li > ul > li.active,
  #SidebarNavigationList > li > ul > li > ul > li.active a {
    background: #474d58;
    color: #cccccc;
    font-weight: normal;
  }
  #SidebarNavigationList > li > ul > li > ul {
    position: absolute;
    width: 100px;
    left: 100px;
    z-index: 2;
    top: 0;
  }
}
