* {
  text-decoration: none !important;
  outline: none !important;
}
html,
body {
  background: #31353c;
  height: 100%;
  width: 100%;
}
#LoginContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
}
#LoginBox {
  background: #f2f2f2;
  border-radius: 7px;
  min-height: 175px;
  min-width: 420px;
  position: fixed;
  top: 25%;
}
#LoginBox .alert-messages {
  margin: 10px 0;
}
#LoginBox .alert-messages .alert {
  margin: 3px 20px 0;
  padding: 10px 15px;
}
#LoginBox .alert-messages .alert > a {
  margin-left: 10px;
}
#LoginBox > form {
  padding-top: 7px;
}
#LoginBox .input-group {
  padding: 0 20px 5px;
  width: 100%;
}
#LoginBox .input-group > span:first-child {
  width: 39px;
}
#LoginBox .select2-container .select2-choice {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 0 4px 4px 0;
  border: 1px solid #CCCCCC;
  background-image: none;
  line-height: 1.42857;
  padding: 6px 12px;
  height: 34px;
  width: 344px;
}
#LoginBox .select2-container.select2-dropdown-open .select2-choice {
  border-radius: 0 4px 0 0;
}
#LoginBox .select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 4px;
}
#LoginBox .select2-container .select2-choice .select2-arrow b {
  background-position: 0 4px;
}
#LoginBox .select2-container-active .select2-choice {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66AFE9;
}
#LoginBox .login-form-actions {
  padding: 5px 20px 15px;
}
#TempLanguage {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#Language {
  display: none;
}
.select2-drop,
.select2-drop-active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66AFE9;
}
