.alert-messages .alert:first-child {
    margin-top: 15px;
}

.alert-messages .alert {
    padding: 10px 15px;
    margin-bottom: 3px;
    display: none;
}

    .alert-messages .alert > a {
        margin-left: 10px;
    }