@import "../theme";

#Content {
    border-radius: 8px 0 0 8px;
    background: @content-color;
    margin-left: 200px;
    min-height: 800px;
    margin-top: -40px;
}

#ContentHeader {
    background-image: linear-gradient(to bottom, @content-light-color 0%, @content-color 100%);
    background-color: @content-color;
    background-repeat: repeat-x;
    border-top-left-radius: 8px;
    min-height: 60px;
}

    #ContentHeader h1 {
        color: @breadcrumb-text-color;
        padding: 15px 20px;
        font-size: 28px;
        margin: 0;
    }

#ContentBreadcrumb {
    background-color: @breadcrumb-color;
    border-bottom: @breadcrumb-border;
    border-top: @breadcrumb-border;
    padding-left: 10px;
}

    #ContentBreadcrumb > a {
        background-image: url('../../../Images/Shared/breadcrumb.png');
        background-position: center right;
        color: @breadcrumb-text-color;
        background-repeat: no-repeat;
        padding: 8px 20px 8px 10px;
        display: inline-block;
        font-size: 11px;
    }

        #ContentBreadcrumb > a:hover {
            color: @breadcrumb-active-text-color;
        }

        #ContentBreadcrumb > a > i {
            margin-right: 5px;
        }

        #ContentBreadcrumb > a:last-child {
            background-image: none;
        }

        #ContentBreadcrumb > a.current {
            color: @breadcrumb-active-text-color;
            font-weight: bold;
        }

@media (max-width: 767px) {
    #Content {
        margin-left: 45px;
    }
}