@import "../mixins";
@import "../theme";

#Header {
    .linear-gradient-background(to bottom, @background-from-color -40%, @background-to-color 50%, @background-color);
    box-shadow: 0 0 1px 0 inset;
    min-height: 80px;
}

#HeadersLeftPanel {
    float: left;
}

#HeadersRightPanel {
    float: right;
}

#TopNavigation {
    margin-right: 20px;
    float: right;
}

#TopNavigationSections {
    padding: 0;
    margin: 0;

    > .btn {
        border: none;
        padding: 0;
        margin: 0;

        > a {
            color: @background-text-color;
            text-shadow: @text-shadow;
            display: block;
            padding: 10px;

            &:hover {
                background: @active-color;
                color: @active-text-color;
            }
        }

        &.open > a {
            background: @active-color;
            color: @active-text-color;
        }

        .fa {
            margin-right: 5px;
        }

        .dropdown-menu {
            border-top-right-radius: 0;
            text-shadow: @text-shadow;
            border-top-left-radius: 0;
            text-align: left;
            margin-top: 0;
        }
    }
}