@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="title text">@ResourceProvider.GetCurrentContentTitle()</div>

<div class="separator"></div>

<div class="error text fa fa-ban"></div>

<div class="separator"></div>

<div class="describtion text">@MvcTemplate.Resources.Shared.Messages.SystemError</div>
<a class="btn btn-primary public-action" href="/">@MvcTemplate.Resources.Content.Titles.HomeIndex</a>