@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="title text">@ResourceProvider.GetCurrentContentTitle()</div>

<div class="separator"></div>

<div class="error text fa fa-search"></div>

<div class="separator"></div>

<div class="describtion text">@MvcTemplate.Resources.Shared.Messages.PageNotFound</div>
@Html.ActionLink(MvcTemplate.Resources.Content.Titles.HomeIndex, "Index", null, new { @class = "btn btn-primary public-action" })
