@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="title text">@ResourceProvider.GetCurrentContentTitle()</div>
<div class="separator"></div>
<div class="error text">
    <span class="fa fa-lock"></span>
</div>
<div class="separator"></div>
<div class="describtion text">@MvcTemplate.Resources.Shared.Messages.Unauthorized</div>
<div class="public-actions">
    <a class="btn btn-primary" href="/">@MvcTemplate.Resources.Content.Titles.HomeIndex</a>
</div>
