.alert-messages {
    .alert {
        padding: 10px 15px;
        margin-bottom: 3px;

        &:first-child {
            margin-top: 15px;
        }

        > a {
            margin-left: 10px;
        }
    }
}