@font-face {
  src: local('PT Sans'), local('PTSans-Regular'), url('Fonts/PTSans.woff') format('woff');
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('Fonts/PTSans-Bold.woff') format('woff');
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
}
* {
  text-decoration: none !important;
  outline: none !important;
}
body {
  background-color: #31353c;
  font-family: 'PT Sans', consolas;
  color: #555555;
  overflow-x: hidden;
  overflow-y: auto;
}
.clear {
  clear: both;
}
#Footer {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  color: #cccccc;
}
