@font-face {
  src: local('PT Sans'), local('PTSans-Regular'), url('Fonts/PTSans.woff') format('woff');
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('Fonts/PTSans-Bold.woff') format('woff');
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
}
* {
  text-decoration: none !important;
  outline: none !important;
}
body {
  font-family: 'PT Sans', consolas;
  overflow-x: hidden;
  overflow-y: auto;
}
body.private {
  background-image: url(../../../Images/Shared/background.png);
  background-color: #31353c;
  color: #555555;
}
body.public {
  background-image: url(../../../Images/Shared/content-background.png);
  background-color: #f2f2f2;
}
.separator {
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #DDDDDD;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
#Footer {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  color: #cccccc;
}
