#Content {
  background-color: #f2f2f2;
  border-radius: 8px 0 0 8px;
  margin-left: 200px;
  margin-top: -40px;
  min-height: 800px;
}
#ContentHeader {
  border-top-left-radius: 8px;
}
#ContentHeader h1 {
  color: #555555;
  padding: 10px 15px;
  font-size: 24px;
  margin: 0;
}
#ContentBreadcrumb {
  background-color: #eaeaea;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  padding-left: 10px;
}
#ContentBreadcrumb > a {
  color: #555555;
  display: inline-block;
  padding: 8px 5px;
  font-size: 11px;
}
#ContentBreadcrumb > a i {
  padding-right: 5px;
}
#ContentBreadcrumb span {
  font-size: 11px;
}
#ContentBreadcrumb .current {
  font-weight: bold;
}
#ContentContainer {
  padding-top: 15px;
}
@media (max-width: 767px) {
  #Content {
    margin-left: 45px;
  }
}
