#ContentContainer {
  background-color: #f2f2f2;
  border-radius: 8px 0 0 8px;
  margin-left: 200px;
  margin-top: -40px;
  min-height: 800px;
}
#ContentHeader {
  border-top-left-radius: 8px;
}
#ContentHeader h1 {
  color: #555555;
  padding: 10px 15px;
  font-size: 24px;
  margin: 0;
}
#ContentBreadcrumb {
  background-color: #eaeaea;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  padding-left: 10px;
}
#ContentBreadcrumb > a {
  color: #555555;
  display: inline-block;
  padding: 8px 5px;
  font-size: 11px;
}
#ContentBreadcrumb > a i {
  padding-right: 5px;
}
#ContentBreadcrumb span {
  font-size: 11px;
}
#ContentBreadcrumb .current {
  font-weight: bold;
}
#Content {
  padding: 15px;
  float: left;
  width: 100%;
}
.control-label {
  color: #555555;
  text-align: right;
  padding: 6px 15px;
  margin: 0;
}
.control-label .required {
  color: #d11919;
}
.input-validation-error {
  border-color: #d11919;
}
.input-validation-error:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f29191;
  border-color: #d11919;
}
.field-validation-error {
  color: #d11919;
  vertical-align: middle;
  display: inline-table;
  padding-top: 10px;
  text-align: left;
  height: 34px;
}
@media (max-width: 767px) {
  #ContentContainer {
    margin-left: 45px;
  }
}
