.header {
  min-height: 80px;
}
.header-navigation {
  float: right;
}
.header-navigation > .btn {
  padding: 0;
}
.header-navigation > .btn > a {
  text-shadow: 0 0 #cccccc;
  padding: 10px 10px 9px;
  display: block;
  color: #cccccc;
}
.header-navigation > .btn > a .fa {
  margin-right: 5px;
}
.header-navigation > .btn.open > a,
.header-navigation > .btn:hover > a {
  background-color: #396b86;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  color: #ffffff;
}
.header-navigation > .btn .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
}
.header-navigation > .btn .dropdown-menu img {
  margin-bottom: 3px;
  margin-right: 5px;
}
