#Header {
  box-shadow: 0 0 1px 0 inset;
  min-height: 80px;
}
#HeaderNavigation {
  float: right;
}
#HeaderNavigation > .btn {
  border: none;
  padding: 0;
}
#HeaderNavigation > .btn > a {
  text-shadow: 0 0 #ffffff;
  display: block;
  padding: 10px;
  color: #cccccc;
}
#HeaderNavigation > .btn > a .fa {
  margin-right: 5px;
}
#HeaderNavigation > .btn.open > a,
#HeaderNavigation > .btn:hover > a {
  background-color: #1aaef3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  color: #ffffff;
}
#HeaderNavigation > .btn .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: left;
  margin-top: 0;
}
