@import "../mixins";
@import "../theme";

#Header {
    .linear-gradient-background(to bottom, @background-from-color -40%, @background-to-color 50%, @background-color);
    box-shadow: 0 0 1px 0 inset;
    min-height: 80px;
}

#HeaderNavigation {
    float: right;

    > .btn {
        border: none;
        padding: 0;

        > a {
            color: @background-text-color;
            text-shadow: @text-shadow;
            display: block;
            padding: 10px;

            .fa {
                margin-right: 5px;
            }
        }

        &.open > a,
        &:hover > a {
            background: @active-color;
            color: @active-text-color;
        }

        .dropdown-menu {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            text-align: left;
            margin-top: 0;
        }
    }
}