@import "../mixins";
@import "../theme";

#Header {
    box-shadow: 0 0 1px 0 inset;
    min-height: 80px;
}

#HeaderNavigation {
    float: right;

    > .btn {
        border: none;
        padding: 0;

        > a {
            text-shadow: 0 0 #ffffff;
            display: block;
            padding: 10px;
            color: @color;

            .fa {
                margin-right: 5px;
            }
        }

        &.open > a,
        &:hover > a {
            background: @active-background-color;
            color: @active-color;
        }

        .dropdown-menu {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            text-align: left;
            margin-top: 0;
        }
    }
}