#Header {
  background-color: #31353c;
  background-image: -webkit-linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  background-image: -moz-linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  background-image: -ms-linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  background-image: -o-linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  background-image: linear-gradient(to bottom, #0056ba -40%, #31353c 50%);
  box-shadow: 0 0 1px 0 inset;
  min-height: 80px;
}
#HeaderNavigation {
  float: right;
}
#HeaderNavigation > .btn {
  border: none;
  padding: 0;
}
#HeaderNavigation > .btn > a {
  color: #cccccc;
  text-shadow: 0 0 #ffffff;
  display: block;
  padding: 10px;
}
#HeaderNavigation > .btn > a .fa {
  margin-right: 5px;
}
#HeaderNavigation > .btn.open > a,
#HeaderNavigation > .btn:hover > a {
  background: #1aaef3;
  color: #ffffff;
}
#HeaderNavigation > .btn .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: left;
  margin-top: 0;
}
