@import "../mixins";
@import "../theme";

/* Bootstrap */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    .linear-gradient-background(bottom, @gradient-from-color, @gradient-to-color, @active-background-color);
    color: @active-color;
}

.btn-primary {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    .linear-gradient-background(center top, #84b2ca, #67a0be, #67a0be);
    border: 1px solid #5997B8;

    &:hover {
        .linear-gradient-background(center top, #75a9c4, #5997b8, #5997b8);
        border: 1px solid #5997B8;
    }
}

.input-group .form-control {
    z-index: 1;
}

/* JQueryUI Datepicker */
.ui-datepicker {
    border-radius: 5px;
    padding: 0;

    .ui-datepicker-header {
        .linear-gradient-background(bottom, @gradient-from-color 0, @gradient-to-color 100%, @active-background-color);
        border-radius: 4px 4px 0 0;
        color: @active-color;
        border: none;

        .ui-state-hover {
            background: none;
            cursor: pointer;
            border: none;
        }

        .ui-datepicker-prev span {
            background-image: url(../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
            background-position: -96px -16px;
        }

        .ui-datepicker-next span {
            background-image: url(../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
            background-position: -32px -16px;
        }
    }

    table {
        margin-bottom: 2px;

        th {
            font-size: 8px;
            border: none;
        }

        td {
            border: none;

            .ui-state-default {
                text-align: center;
                border-radius: 5px;
                background: none;
                border: none;
            }

            .ui-state-active,
            .ui-state-hover {
                .linear-gradient-background(bottom, @gradient-from-color 0, @gradient-to-color 100%, @active-background-color);
                text-shadow: 1px 0 0 @content-color;
                color: @active-color;
                cursor: pointer;
            }
        }
    }
}

/* GridMvc */
.grid-wrap {
    width: 100%;
}

table.grid-table .grid-filter {
    margin-top: 5px;
}

.grid-dropdown {
    padding: 0;
}

.grid-dropdown-inner  {
    padding: 0 5px 10px;
}

table.grid-table .grid-filter-datepicker,
table.grid-table .grid-filter-buttons {
    padding: 10px 10px 0;
}

table.grid-table .grid-popup-additional {
    padding: 0 10px;
}

table.grid-table .grid-filter-clear {
    margin-top: 10px;
}

.grid-popup-widget label {
    display: none;
}

.grid-filter-type,
.grid-filter-input {
    text-align: center;
}

.grid-apply,
.grid-filter-clear {
    width: 100%;
}

.grid-empty-text {
    text-align: center;
}

.grid-footer {
    text-align: center;

    .pagination {
        margin: 8px 0 3px;
    }
}

/* JsTree */
.js-tree-view {
    padding-top: 5px;
    display: none;
}

.jstree-themeicon {
    display: none !important;
}
