/* Bootstrap */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #396b86;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  color: #ffffff;
}
.btn-primary {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #67a0be;
  background-image: -webkit-linear-gradient(center top, #84b2ca, #67a0be);
  background-image: -moz-linear-gradient(center top, #84b2ca, #67a0be);
  background-image: -ms-linear-gradient(center top, #84b2ca, #67a0be);
  background-image: -o-linear-gradient(center top, #84b2ca, #67a0be);
  background-image: linear-gradient(center top, #84b2ca, #67a0be);
  border: 1px solid #5997B8;
}
.btn-primary:hover {
  background-color: #5997b8;
  background-image: -webkit-linear-gradient(center top, #75a9c4, #5997b8);
  background-image: -moz-linear-gradient(center top, #75a9c4, #5997b8);
  background-image: -ms-linear-gradient(center top, #75a9c4, #5997b8);
  background-image: -o-linear-gradient(center top, #75a9c4, #5997b8);
  background-image: linear-gradient(center top, #75a9c4, #5997b8);
  border: 1px solid #5997B8;
}
.input-group .form-control {
  z-index: 1;
}
/* JQuery-UI Datepicker */
.ui-datepicker {
  border-radius: 5px;
  font-size: 1em;
  padding: 0;
}
.ui-datepicker .ui-datepicker-header {
  background-color: #396b86;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  border-radius: 4px 4px 0 0;
  color: #ffffff;
  border: none;
}
.ui-datepicker .ui-datepicker-header .ui-state-hover {
  background: none;
  cursor: pointer;
  border: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
  background-image: url(../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
  background-position: -96px -16px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  background-image: url(../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
  background-position: -32px -16px;
}
.ui-datepicker table {
  margin: 0;
}
.ui-datepicker table th {
  font-size: 10px;
  border: none;
}
.ui-datepicker table td {
  border: none;
}
.ui-datepicker table td .ui-state-default {
  text-align: center;
  border-radius: 5px;
  background: none;
  border: none;
}
.ui-datepicker table td .ui-state-active,
.ui-datepicker table td .ui-state-hover {
  background-color: #396b86;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  text-shadow: 1px 0 0 #555555;
  color: #ffffff;
  cursor: pointer;
}
.ui-datepicker .ui-timepicker-div {
  text-align: center;
  padding: 0 10px;
}
.ui-datepicker .ui-timepicker-div dl {
  margin: 0;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_time {
  margin-bottom: 5px;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_time_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_hour_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_minute_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_second_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_millisec_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_timezone_label {
  display: none;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_hour,
.ui-datepicker .ui-timepicker-div .ui_tpicker_minute,
.ui-datepicker .ui-timepicker-div .ui_tpicker_second,
.ui-datepicker .ui-timepicker-div .ui_tpicker_millisec,
.ui-datepicker .ui-timepicker-div .ui_tpicker_timezone {
  margin-bottom: 10px;
}
/* GridMvc */
.grid-wrap {
  width: 100%;
}
table.grid-table .grid-filter {
  margin-top: 5px;
}
.grid-dropdown {
  padding: 0;
}
.grid-dropdown-inner {
  padding: 0 5px 10px;
}
.grid-dropdown-inner .form-group {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #ffffff;
  padding: 10px;
  margin: 0;
}
.grid-filter-datepicker,
.grid-filter-buttons {
  padding: 10px 10px 0;
}
.grid-popup-additional {
  padding: 0 10px;
}
.grid-filter-clear {
  margin-top: 10px;
}
.grid-popup-widget label {
  display: none;
}
.grid-empty-text,
.grid-filter-type,
.grid-filter-input {
  text-align: center;
}
.grid-apply,
.grid-filter-clear {
  width: 100%;
}
.grid-footer {
  text-align: center;
}
.grid-footer .pagination {
  margin: 8px 0 3px;
}
/* JsTree */
.js-tree-view {
  padding-top: 5px;
  display: none;
}
.jstree-themeicon {
  display: none !important;
}
