@import "../mixins";
@import "../theme";

/* Bootstrap */
.input-group .form-control {
    z-index: 1;
}

/* JQueryUI Datepicker */
.ui-datepicker {
    border-radius: 5px;
    padding: 0;

    .ui-datepicker-header {
        .linear-gradient-background(bottom, @gradient-from-color 0, @gradient-to-color 100%, @active-background-color);
        border-radius: 4px 4px 0 0;
        color: @active-color;
        border: none;

        .ui-datepicker-prev span {
            background-image: url(/Images/JQueryUI/ui-icons_ffffff_256x240.png);
            background-position: -96px -16px;
        }

        .ui-datepicker-next span {
            background-image: url(/Images/JQueryUI/ui-icons_ffffff_256x240.png);
            background-position: -32px -16px;
        }
    }

    table {
        margin-bottom: 2px;

        th {
            font-size: 8px;
            border: none;
        }

        td {
            border: none;

            .ui-state-default {
                text-align: center;
                border-radius: 5px;
                background: none;
                border: none;
            }

            .ui-state-active,
            .ui-state-hover {
                .linear-gradient-background(bottom, @gradient-from-color 0, @gradient-to-color 100%, @active-background-color);
                text-shadow: 1px 0 0 @content-color;
                color: @active-color;
                cursor: pointer;
            }
        }
    }
}

/* Select2 */
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 4px;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 0 4px;
}

.select2-results .select2-highlighted {
    background-color: #f5f5f5;
    color: #262626;
}

/* GridMvc */
.grid-empty-text {
    text-align: center;
}

/* JsTree */
.tree-view {
    padding-top: 5px;
    display: none;
}

.jstree-themeicon {
    display: none !important;
}