/* Bootstrap */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1aaef3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
}
.input-group .form-control {
  z-index: 1;
}
/* JQueryUI Datepicker */
.ui-datepicker {
  border-radius: 5px;
  padding: 0;
}
.ui-datepicker .ui-datepicker-header {
  background-color: #1aaef3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  border-radius: 4px 4px 0 0;
  color: #ffffff;
  border: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
  background-image: url(../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
  background-position: -96px -16px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  background-image: url(../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
  background-position: -32px -16px;
}
.ui-datepicker table {
  margin-bottom: 2px;
}
.ui-datepicker table th {
  font-size: 8px;
  border: none;
}
.ui-datepicker table td {
  border: none;
}
.ui-datepicker table td .ui-state-default {
  text-align: center;
  border-radius: 5px;
  background: none;
  border: none;
}
.ui-datepicker table td .ui-state-active,
.ui-datepicker table td .ui-state-hover {
  background-color: #1aaef3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0, rgba(255, 255, 255, 0.27) 100%);
  text-shadow: 1px 0 0 #555555;
  color: #ffffff;
  cursor: pointer;
}
/* Select2 */
.select2-container {
  width: 100%;
}
.select2-container .select2-choice {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border: 1px solid #cccccc;
  border-radius: 0 4px 4px 0;
  background-image: none;
  line-height: 1.42857;
  padding: 6px 12px;
  text-align: left;
  height: 34px;
}
.select2-container .select2-choice .select2-arrow b {
  background-position: 0 4px;
}
.select2-container.select2-dropdown-open .select2-choice {
  border-radius: 0 4px 0 0;
}
.select2-container.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 4px;
}
.select2-drop,
.select2-drop-active,
.select2-container-active .select2-choice {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66afe9;
}
.select2-results .select2-highlighted {
  background-color: #f5f5f5;
  color: #262626;
}
/* GridMvc */
.grid-wrap {
  width: 100%;
}
.grid-empty-text {
  text-align: center;
}
.grid-footer {
  text-align: center;
}
.grid-footer .pagination {
  margin: 8px 0 3px;
}
/* JsTree */
.js-tree-view {
  padding-top: 5px;
  display: none;
}
.jstree-themeicon {
  display: none !important;
}
