@import "../mixins";
@import "../theme";

/* Bootstrap */
.input-group .form-control {
    z-index: 1;
}

/* JQueryUI Datepicker */
.ui-datepicker {
    border-radius: 5px;
    font-size: 90%;
    padding: 0;

    .ui-datepicker-header {
        .linear-gradient-background(bottom, @gradient-from-color 0, @gradient-to-color 100%, @active-color);
        border-radius: 4px 4px 0 0;
        color: @active-text-color;
        border: none;

        .ui-datepicker-prev span {
            background-image: url(/Images/JQueryUI/ui-icons_ffffff_256x240.png);
            background-position: -96px -16px;
        }

        .ui-datepicker-next span {
            background-image: url(/Images/JQueryUI/ui-icons_ffffff_256x240.png);
            background-position: -32px -16px;
        }

        .ui-state-hover {
            .linear-gradient-background(bottom, @gradient-from-color 0, @gradient-to-color 100%, @active-color);
            background-color: @active-color;
            border-radius: 50%;
            cursor: pointer;
            border: none;
        }
    }

    table {
        margin-bottom: 2px;

        th {
            .linear-gradient-background(center bottom, @gradient-middle-color 0, @gradient-to-color 100%, @table-header-color);
            text-shadow: 1px 0 fade(@active-text-color, 50%);
            color: @table-header-text-color;
            font-weight: normal;
            font-size: 8px;
            border: none;
        }

        td {
            .ui-state-default {
                border-radius: 5px;
                background: none;
                border: none;
            }

            .ui-state-highlight {
                background: lighten(@active-color, 40%);
            }

            .ui-state-active,
            .ui-state-hover {
                .linear-gradient-background(center bottom, @gradient-from-color 0, @gradient-to-color 100%, @active-color);
                text-shadow: @active-text-shadow;
                color: @active-text-color;
            }

            a {
                text-align: center;
            }
        }
    }
}

/* Select2 */
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 4px;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 0 4px;
}

/* GridMvc */
.grid-table > thead > tr > th,
.grid-table > tbody > tr > td {
    border-left: @table-border;
}

.grid-empty-text {
    text-align: center;
}

/* JsTree */
.tree-view {
    margin-top: 5px;
    display: none;
}

.jstree-themeicon {
    display: none !important;
}