.sidebar {
  width: 200px;
  float: left;
}
.sidebar-search {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin: 10px;
}
.sidebar-search input {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-style: none;
  text-align: center;
  color: #cccccc;
  padding: 3px;
  width: 100%;
}
.sidebar-navigation {
  padding: 0;
}
.sidebar-navigation a {
  padding: 10px 0 10px 15px;
  display: block;
  color: #cccccc;
}
.sidebar-navigation a .menu-icon {
  text-align: center;
  width: 20px;
}
.sidebar-navigation a:hover,
.sidebar-navigation .active > a {
  background-color: #396b86;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  color: #ffffff;
}
.sidebar-navigation .active > a {
  background-color: #396b86;
  background-image: url("../../Images/Shared/menu-active.png");
  background-image: url("../../Images/Shared/menu-active.png"), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: url("../../Images/Shared/menu-active.png"), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: url("../../Images/Shared/menu-active.png"), -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: url("../../Images/Shared/menu-active.png"), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: url("../../Images/Shared/menu-active.png"), linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-position: right center;
  background-repeat: no-repeat;
}
.sidebar-navigation li {
  position: relative;
}
.sidebar-navigation li ul {
  list-style: none;
  z-index: 2;
  padding: 0;
}
.sidebar-navigation li ul li {
  background-image: url(../../../Images/Shared/background.png);
}
.sidebar-navigation li ul a {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px 0 10px 25px;
}
.sidebar-navigation li ul ul a {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 0 10px 35px;
}
.sidebar-navigation .arrow {
  -webkit-transition: transform 0.4s ease-out 0.1s;
  -moz-transition: transform 0.4s ease-out 0.1s;
  -o-transition: transform 0.4s ease-out 0.1s;
  transition: transform 0.4s ease-out 0.1s;
  margin: 6px 15px 5px 5px;
  font-size: 10px;
  float: right;
}
.sidebar-navigation .opening > a > .arrow,
.sidebar-navigation .open > a > .arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-navigation li:not(.open):not(.closing) > ul {
  display: none;
}
@media (max-width: 767px) {
  .sidebar {
    width: 45px;
  }
  .sidebar-search {
    display: none;
  }
  .sidebar-navigation > .has-active > a {
    background-color: #396b86;
    background-image: url("../../Images/Shared/menu-active.png");
    background-image: url("../../Images/Shared/menu-active.png"), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: url("../../Images/Shared/menu-active.png"), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: url("../../Images/Shared/menu-active.png"), -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: url("../../Images/Shared/menu-active.png"), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: url("../../Images/Shared/menu-active.png"), linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-position: right center;
    background-repeat: no-repeat;
    color: #ffffff;
  }
  .sidebar-navigation .menu-icon {
    width: 10px;
  }
  .sidebar-navigation .arrow,
  .sidebar-navigation > li > a > span {
    display: none;
  }
  .sidebar-navigation > li .active > a {
    background-image: none;
    color: #cccccc;
  }
  .sidebar-navigation > li .active > a:hover {
    background-color: #396b86;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    color: #ffffff;
  }
  .sidebar-navigation > li > a {
    text-align: center;
    padding-left: 0;
  }
  .sidebar-navigation > li ul {
    position: absolute;
    width: 100px;
    left: 45px;
    top: 0;
  }
  .sidebar-navigation > li ul a {
    font-size: 10px;
    padding: 6px;
  }
  .sidebar-navigation > li ul ul {
    left: 100px;
  }
  .sidebar-navigation > li ul ul .active > a {
    background-image: none;
  }
  .sidebar-navigation > li ul ul a {
    padding: 6px;
  }
}
