#Sidebar {
  width: 200px;
  float: left;
}
#SidebarSearch {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin: 10px;
}
#SidebarSearch input {
  background-color: #1a1c20;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  padding: 3px 0;
  color: #cccccc;
  border: none;
  width: 100%;
}
#SidebarNavigation {
  padding: 0;
}
#SidebarNavigation a {
  padding: 10px 0 10px 15px;
  background: none;
  display: block;
  color: #cccccc;
}
#SidebarNavigation a .menu-icon {
  text-align: center;
  width: 20px;
}
#SidebarNavigation a:hover,
#SidebarNavigation .active > a {
  background-color: #1aaef3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  color: #ffffff;
}
#SidebarNavigation .active > a {
  background-color: #1aaef3;
  background-image: url("/Images/Shared/menu-active.png");
  background-image: url("/Images/Shared/menu-active.png"), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: url("/Images/Shared/menu-active.png"), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: url("/Images/Shared/menu-active.png"), -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: url("/Images/Shared/menu-active.png"), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: url("/Images/Shared/menu-active.png"), linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-position: right center;
  background-repeat: no-repeat;
}
#SidebarNavigation li {
  position: relative;
}
#SidebarNavigation li ul {
  list-style: none;
  z-index: 2;
  padding: 0;
}
#SidebarNavigation li ul a {
  background-color: #484e58;
  padding: 10px 0 10px 25px;
}
#SidebarNavigation li ul ul a {
  background-color: #5f6774;
  padding: 10px 0 10px 35px;
}
#SidebarNavigation .arrow {
  -webkit-transition: transform 0.4s ease-out 0.1s;
  -moz-transition: transform 0.4s ease-out 0.1s;
  -o-transition: transform 0.4s ease-out 0.1s;
  transition: transform 0.4s ease-out 0.1s;
  margin: 6px 15px 5px 5px;
  font-size: 10px;
  float: right;
}
#SidebarNavigation .opening > a > .arrow,
#SidebarNavigation .open > a > .arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#SidebarNavigation li:not(.open):not(.closing) > ul {
  display: none;
}
@media (max-width: 767px) {
  #Sidebar {
    width: 45px;
  }
  #SidebarSearch {
    display: none;
  }
  #SidebarNavigation > .has-active > a {
    background-color: #1aaef3;
    background-image: url("/Images/Shared/menu-active.png");
    background-image: url("/Images/Shared/menu-active.png"), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: url("/Images/Shared/menu-active.png"), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: url("/Images/Shared/menu-active.png"), -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: url("/Images/Shared/menu-active.png"), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: url("/Images/Shared/menu-active.png"), linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-position: right center;
    background-repeat: no-repeat;
    color: #ffffff;
  }
  #SidebarNavigation .menu-icon {
    width: 10px;
  }
  #SidebarNavigation .arrow,
  #SidebarNavigation > li > a > span {
    display: none;
  }
  #SidebarNavigation > li .active > a {
    background-color: #484e58;
    background-image: none;
    color: #cccccc;
  }
  #SidebarNavigation > li .active > a:hover {
    background-color: #1aaef3;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
    color: #ffffff;
  }
  #SidebarNavigation > li > a {
    text-align: center;
    padding-left: 0;
  }
  #SidebarNavigation > li ul {
    position: absolute;
    width: 100px;
    left: 45px;
    top: 0;
  }
  #SidebarNavigation > li ul a {
    font-size: 10px;
    padding: 6px;
  }
  #SidebarNavigation > li ul ul {
    left: 100px;
  }
  #SidebarNavigation > li ul ul .active > a {
    background-color: #5f6774;
    background-image: none;
  }
  #SidebarNavigation > li ul ul a {
    padding: 6px;
  }
}
