@import "../theme";

#Sidebar {
    width: 200px;
    float: left;
}

#SidebarSearch {
    border-bottom: @sidebar-search-border-bottom;
    margin: 10px;
}

#SearchInput {
    background-color: darken(@background-color, 10%);
    color: @background-text-color;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    padding: 3px 0;
    border: none;
    width: 100%;
}

#SidebarNavigation {
    cursor: pointer;
}

#SidebarNavigationList {
    border-bottom: @sidebar-border-top;
    padding: 0;
    margin: 0;

    > li {
        border-bottom: @sidebar-border-bottom;
        border-top: @sidebar-border-top;
        position: relative;

        &.active-hovering,
        &.has-active-child.active-hovering,
        &.active-hovering a,
        &.has-active-child.active-hovering a {
            color: @background-text-color;
            background-color: inherit;
            font-weight: inherit;
        }

        > a {
            color: @background-text-color;
            padding: 10px 0 10px 15px;
            display: block;
        }

        > ul > li {
            background: @sidebar-2nd-submenu-background-color;
            border-top: @sidebar-border-top;

            &.active-hovering,
            &.active-hovering a {
                background-color: @sidebar-2nd-submenu-background-color;
                color: @background-text-color;
                font-weight: normal;
            }

            > a {
                color: @background-text-color;
                padding: 10px 0 10px 25px;
                display: block;
            }

            > ul > li {
                background: @sidebar-3rd-submenu-background-color;
                border-top: @sidebar-border-top;

                &.active-hovering,
                &.active-hovering a {
                    background: @sidebar-3rd-submenu-background-color;
                    color: @background-text-color;
                    font-weight: normal;
                }

                > a {
                    color: @background-text-color;
                    padding: 10px 0 10px 35px;
                    display: block;
                }
            }
        }
    }

    .active,
    a:hover {
        background: @active-color;
        color: @active-text-color;
        font-weight: bold;
    }

        .active a {
            background: url("/Images/Shared/menu-active.png") no-repeat scroll right center;
            color: @active-text-color;
        }

    .menu-icon {
        width: 20px;
    }

    span {
        margin-left: 5px;
    }

    .arrow {
        -webkit-transition: transform 0.4s ease-out 0.1s;
        -moz-transition: transform 0.4s ease-out 0.1s;
        -o-transition: transform 0.4s ease-out 0.1s;
        transition: transform 0.4s ease-out 0.1s;
        margin: 5px 20px 5px 5px;
        font-size: 10px;
        float: right;
    }

    .opening > a > .arrow,
    .open > a > .arrow {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li:not(.open):not(.closing) > ul {
        display: none;
    }
}

@media (max-width: 767px) {
    #Sidebar {
        width: 45px;
    }

    #SidebarSearch {
        display: none;
    }

    #SidebarNavigationList > li {
        &.has-active-child {
            background: @active-color;
            color: @active-text-color;

            > a {
                background: url("/Images/Shared/menu-active.png") no-repeat scroll right center;
                color: @active-text-color;
            }
        }

        &.active-child-hovering,
        &.active-child-hovering > a {
            color: @background-text-color;
            background-color: inherit;
            font-weight: inherit;
        }

        &.open a,
        &.opening a {
            background-image: none;
        }

        &.active-child-hovering > ul > li a:hover {
            background: @active-color;
            color: @active-text-color;
            font-weight: bold;
        }

        .active {
            background: @sidebar-2nd-submenu-background-color;
            font-weight: normal;

            a {
                color: @background-text-color;
                background-image: none;
            }
        }

        > a {
            text-align: center;
            padding-left: 0;

            > span {
                display: none;
            }
        }

        > ul {
            position: absolute;
            width: 100px;
            z-index: 2;
            left: 45px;
            top: 0;

            .menu-icon {
                width: 10px;
            }

            > li > a,
            > li > ul > li > a {
                padding: 6px 0 6px 8px;
                font-size: 10px;
            }

            > li:first-child,
            > li > ul > li:first-child {
                border-top: none;
            }

            > li > ul {
                position: absolute;
                width: 100px;
                left: 100px;
                z-index: 2;
                top: 0;

                > li.active,
                > li.active a {
                    background: @sidebar-3rd-submenu-background-color;
                    color: @background-text-color;
                    font-weight: normal;
                }
            }
        }
    }
}