@import "../mixins";
@import "../theme";

.table {
    thead {
        .linear-gradient-background(center top, @table-thead-top-color, @table-thead-bottom-color, transparent);

        > tr > th {
            border-bottom-width: 1px;
        }
    }

    th {
        text-align: center;
        font-size: 12px;
    }

    .action-link-cell {
        border-left: none;
    }

    .action-link-container {
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        border-radius: 4px;
        padding-top: 1.5px;
        text-align: center;
        font-size: 11px;
        height: 20px;
        width: 20px;

        &:hover {
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        a {
            vertical-align: middle;
            display: inline-block;
            height: 100%;
            width: 100%;
        }

        i {
            color: @active-text-color;
        }
    }

    .details-action-link {
        background-color: @details-action-color;
    }

    .edit-action-link {
        background-color: @edit-action-color;
    }

    .delete-action-link {
        background-color: @delete-action-color;
    }

    .text-cell {
        text-align: left;
    }

    .date-cell {
        text-align: center;
    }

    .number-cell {
        text-align: right;
    }
}

.table-striped {
    > tbody > tr:nth-child(even) > td {
        background-color: @table-row-even-color;
    }

    > tbody > tr:nth-child(odd) > td {
        background-color: @table-row-odd-color;
    }
}

.table-hover {
    > tbody > tr:hover > td,
    > tbody > tr:hover > th {
        .linear-gradient-background(center bottom, @gradient-from-color 0%, @gradient-to-color 100%, @active-color);
        color: @active-text-color;
    }
}

.grid-footer {
    float: right;
}