@import "../mixins";
@import "../theme";

table {
    thead {
        .linear-gradient-background(bottom, @gradient-middle-color 0, @gradient-to-color 100%, #ffffff);
    }

    tbody tr {
        .action-link-cell {
            vertical-align: middle;
        }
    }

    th {
        text-align: center;
    }

    th,
    td {
        border-left: @content-border;
    }

    td {
        border-bottom: 1px solid #dddddd;

        .text-cell {
            text-align: left;
        }

        .date-cell {
            text-align: center;
        }

        .number-cell {
            text-align: right;
        }
    }

    .action-link-cell {
        border-left: none;
    }

    .action-link-container {
        .transition-duration(0.3s);
        border-radius: 4px;
        padding-top: 1.5px;
        text-align: center;
        font-size: 11px;
        height: 20px;
        width: 20px;

        &:hover {
            .transition-duration(0.3s);
            .transform(scale(1.2));
        }

        a {
            vertical-align: middle;
            display: inline-block;
            color: @active-color;
            height: 100%;
            width: 100%;
        }
    }

    .details-action-link {
        background-color: @details-action-color;
    }

    .edit-action-link {
        background-color: @edit-action-color;
    }

    .delete-action-link {
        background-color: @delete-action-color;
    }
}

.table-striped {
    > tbody > tr:nth-child(even) > td {
        background-color: @table-row-even-color;
    }

    > tbody > tr:nth-child(odd) > td {
        background-color: @table-row-odd-color;
    }
}

.table-hover {
    > tbody > tr:hover > td {
        .linear-gradient-background(bottom, @gradient-from-color 0, @gradient-to-color 100%, @active-background-color);
        color: @active-color;
    }
}
