.widget-box {
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
}
.widget-title {
  border-bottom: 1px solid #cdcdcd;
  color: #555555;
  height: 35px;
}
.widget-title .widget-title-icon {
  border-right: 1px solid #cdcdcd;
  padding: 8px 10px 6px;
  float: left;
}
.widget-title h5 {
  padding: 11px 11px 10px;
  font-weight: bold;
  font-size: 12px;
  float: left;
  margin: 0;
}
.widget-title .widget-title-buttons {
  float: right;
}
.widget-title .widget-title-buttons .btn {
  border-left: 1px solid #cdcdcd;
  color: #555555;
  padding: 9px 10px 8px;
  border-radius: 0;
  border-top: none;
  font-size: 12px;
}
.widget-title .widget-title-buttons .btn:hover {
  background-color: #396b86;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27), rgba(255, 255, 255, 0.27));
  color: #ffffff;
}
.widget-title .widget-title-buttons .btn > i {
  padding-right: 5px;
}
.widget-content .form-group {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #ffffff;
  padding: 10px;
  margin: 0;
  zoom: 1;
}
.widget-content .form-group:before,
.widget-content .form-group:after {
  display: table;
  content: " ";
}
.widget-content .form-group:after {
  clear: both;
}
.widget-content .form-group:last-child {
  border-bottom: 0;
}
.widget-content .form-group .input-group {
  width: 100%;
}
.widget-content .form-actions {
  text-align: center;
}
@media (min-width: 768px) {
  .widget-content .control-label {
    text-align: left;
  }
  .widget-content .form-actions input {
    float: none;
  }
}
@media (min-width: 992px) {
  .widget-content .control-label {
    text-align: right;
  }
  .widget-content .control-validation {
    text-align: center;
  }
  .widget-content .field-validation-error {
    text-align: center;
    padding-top: 12px;
  }
}
@media (min-width: 1200px) {
  .widget-content .field-validation-error {
    padding-top: 7px;
    text-align: left;
  }
  .widget-content .control-validation {
    text-align: left;
  }
  .widget-content .form-actions {
    text-align: right;
  }
}
