@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="title text">@Pages.HomeError</div>

<div class="separator"></div>

<div class="error text fa fa-ban"></div>

<div class="separator"></div>

<div class="describtion text">@Resources.SystemError</div>
@Html.ActionLink(Pages.HomeIndex, "Index", null, new { @class = "btn btn-primary public-action" })
