@using MvcTemplate.Resources.Content

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="title text">@ResourceProvider.GetCurrentContentTitle()</div>

<div class="separator"></div>

<div class="error text fa fa-ban"></div>

<div class="separator"></div>

<div class="describtion text">@Messages.SystemError</div>
@Html.ActionLink(Titles.HomeIndex, "Index", null, new { @class = "btn btn-primary public-action" })
