@{
    var messages = ViewBag.AlertMessagesContainer as MessagesContainer;
    <div class="alert-messages">
        @if (messages != null)
        {
            foreach (var alertMessage in messages)
            {
                <div class="alert alert-@alertMessage.Type.ToString().ToLowerInvariant()" data-fade-out-after="@alertMessage.FadeOutAfter" data-alert-for="@alertMessage.Key">
                    <span>@alertMessage.Message</span>
                    <a class="close" href="#">×</a>
                </div>
            }
        }
    </div>
}
