@{
    MessagesContainer messages = Session["Messages"] as MessagesContainer;
    Session["Messages"] = null;
}

<div class="alerts">
    @if (messages != null)
    {
        foreach (AlertMessage alertMessage in messages)
        {
            <div class="alert alert-@alertMessage.Type.ToString().ToLowerInvariant()" data-fade-out-after="@alertMessage.FadeOutAfter" data-alert-for="@alertMessage.Key">
                <div class="alert-text">
                    <span>@alertMessage.Message</span>
                </div>
                <div class="alert-close">
                    <a class="close" href="#">×</a>
                </div>
            </div>
        }
    }
</div>