<div id="Header">
    <ul id="HeaderNavigation" class="btn-group">
        <li class="btn">
            @Html.ProfileLink()
        </li>
        <li class="btn dropdown">
            @Html.LanguageLink()
        </li>
        <li class="btn">
            @Html.LogoutLink()
        </li>
    </ul>
</div>