@model MvcSiteMapMenuCollection

<div id="Sidebar">
    <div id="SidebarSearch">
        @Html.TextBox("SearchInput", null, new { placeholder = MvcTemplate.Resources.Shared.Resources.Search + "..." })
    </div>
    <ul id="SidebarNavigation">
        @Html.DisplayForModel()
    </ul>
</div>
@Scripts.Render("~/Scripts/Sidebar/Bundle")
