<div class="header">
    <ul class="header-navigation btn-group">
        <li class="btn">
            @Html.ProfileLink()
        </li>
        <li class="btn dropdown">
            @Html.LanguageLink()
        </li>
        <li class="btn">
            @Html.LogoutLink()
        </li>
    </ul>
</div>