@model MvcSiteMapMenus

<div class="sidebar">
    <div class="sidebar-search">
        @Html.TextBox("SearchInput", null, new { placeholder = MvcTemplate.Resources.Shared.Resources.Search + "..." })
    </div>
    <ul class="sidebar-navigation">
        @Html.DisplayForModel()
    </ul>
</div>
