<div id="DatalistDialog" class="datalist-dialog">
    <div class="datalist-search-group">
        <div class="datalist-search-box">
            <input class="datalist-search" />
            <div class="datalist-rows">
                <input />
            </div>
            <div class="datalist-selector">
                <button></button>
            </div>
        </div>
    </div>
    <div class="datalist-content">
        <div class="datalist-dialog-loader">
            <span></span>
        </div>
        <div class="datalist-error">
        </div>
        <table>
            <thead></thead>
            <tbody></tbody>
        </table>
        <ul></ul>
    </div>
</div>